################################################################################
# Данный GITIGNORE-файл не был автоматически создан Microsoft(R) Visual Studio.
################################################################################
