################################################################################
# Данный GITIGNORE-файл не был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/build-slice-pro-turbo-Desktop_Qt_5_15_2_MinGW_32_bit-Debug
/build-slice-pro-turbo-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
*.exe
*.exe
*.exe
