################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/slice-pro-turbo/.vs/slice-pro-turbo/v16
/slice-pro-turbo/Debug
